div div{
	width:  49%;
	background-color: green;

}
.grey{
	background-color:  grey;
	position: absolute;
}
/* #div1{
	position: absolute;
	top:  1px;
	background-color: #999;
} */
#div2{
	height: 50px;
}
body{
	height: 120vh;
}